@import 'variables';
@import 'fonts';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/aos/src/sass/aos.scss';
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/light.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/solid.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/brands.scss';
@import 'mixins';

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: absolute;
  transition: transform 1000ms ease-in-out;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-sans-serif;

  > main {
    flex: 1 1 auto;
  }
}

p, a, li, ol, span {
  color: $text-primary;
}

.text-secondary {
  color: $text-secondary !important;
}

.light {
  font-weight: 300 !important;
}

.reg {
  font-weight: 400 !important;
}

.heavy {
  font-weight: 700 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: $font-family-sans-serif;
  color: $text-primary;
}

::selection {
  background-color: rgba(lighten($secondary, 10%), .5);
  color: #FFFFFF;
}

p:empty {
  display: none;
}

a {
  transition: $transition;

  &:focus {
    outline: none !important;
  }
}

.wysiwyg {
  position: relative;

  > *:last-child() {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 8px;
      padding-left: 32px;
      position: relative;

      &:before {
        color: $secondary;
        content: '\f178';
        font-family: 'Font Awesome 5 Pro';
        left: 0;
        position: absolute;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  > ol {
    list-style: none;
    padding-left: 0;

    > li {
      counter-increment: count;
      margin-bottom: 4px;
      position: relative;
      padding-left: 28px;

      &:before {
        color: $secondary;
        content: counter(count) '.';
        font-weight: bold;
        left: 0;
        position: absolute;
        top: 0;
        width: 24px;
      }

      ol {
        list-style: none;
        margin: 8px 0 12px;
        padding-left: 0;

        > li {
          counter-increment: counter;
          margin-bottom: 4px;
          padding-left: 28px;
          position: relative;

          &:before {
            color: $secondary;
            content: counter(counter) '.';
            font-weight: bold;
            left: 0;
            position: absolute;
            top: 0;
            width: 24px;
          }
        }
      }
    }
  }

  &.alt {
    color: color-yiq($primary);
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

.rounded {
  border-radius: .5rem !important;
}

.shadow {
  box-shadow: 0px 0px 12px 0px rgba($primary, .25) !important;
}

.bg-grow {
  overflow: hidden;
  position: relative;

  &:before {
    background-color: rgba($primary, 0);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: $transition;
    width: 100%;
    z-index: 1;
  }
}

a:hover .bg-grow {
  position: relative;

  @include lg {
    position: relative;

    &:before {
      background-color: rgba($primary, .5);
    }

    > div {
      transform: scale(1.05);
    }
  }
}

.nf-form-wrap {
  position: relative;

  .nf-error-msg {
    color: $primary;
  }

  .nf-error-required-error {
    display: none;
  }

  .nf-before-form-content {
    display: none;
  }

  .nf-form-content {
    max-width: 100%;
    padding: 0;

    .list-select-wrap > div div:after {
      display: none;
    }
  }

  .nf-pass.field-wrap .nf-field-element:after,
  .nf-error.field-wrap .nf-field-element:after {
    display: none;
  }

  .nf-pass .ninja-forms-field,
  .nf-error .ninja-forms-field {
    border-color: $primary !important;
  }

  nf-fields-wrap {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;

    .nf-field-container {
      margin-bottom: 8px;

      @include md {
        margin-bottom: 24px;
      }

      input:not([type="button"]),
      textarea {
        background-color: color-yiq($primary);
        border: 1px solid $primary;
        border-radius: 0;
        color: $primary;
        height: auto;
        padding: 16px;
        transition: $transition;
        width: 100%;
        -moz-appearance: none;
        -webkit-appearance: none;

        &:focus {
          box-shadow: 0px 0px 0px 4px rgba($primary, .5);
          outline: none;

          &::placeholder {
            opacity: .5;
          }
        }

        &::placeholder {
          color: $primary;
          transition: $transition;
        }
      }

      textarea {
        height: 128px;
      }
    }

    .listselect-wrap .nf-field-element {
      position: relative;
  
      > div {
        display: none;
      }
  
      &:after {
        color: $primary;
        content: '\f078';
        font-family: 'Font Awesome 5 Pro';
        font-weight: bold;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
      }
  
      select {
        background-color: color-yiq($primary);
        border: 1px solid $primary;
        border-radius: 0;
        color: $primary;
        height: auto !important;
        padding: 16px;
        transition: $transition;
        width: 100%;
        -moz-appearance: none;
        -webkit-appearance: none;
    
        &:focus {
          box-shadow: 0px 0px 0px 4px rgba($primary, .5);
          outline: none;
        }
      }
    }

    .listradio-wrap {
      position: relative;

      ul {
        display: block;

        li {
          display: block;
          margin-bottom: 8px !important;
          position: relative;
          width: 100%;

          &:last-of-type {
            margin-bottom: 0 !important;
          }

          label {
            line-height: 32px;
            margin: 0;
            padding-left: 48px;
            position: relative;
  
            &.nf-checked-label:after {
              opacity: 1;
            }
  
            &:before {
              border: 1px solid $primary;
              border-radius: 100vh;
              content: '';
              height: 32px;
              left: 0;
              position: absolute;
              top: 0;
              width: 32px;
            }
  
            &:after {
              color: $primary;
              content: '\f111';
              font-family: 'Font Awesome 5 Pro';
              font-weight: bold;
              left: 8px;
              opacity: 0;
              position: absolute;
              transition: $transition-base;
            }
          }

          input {
            display: none;
          }
        }
      }
    }

    .checkbox-container {
      position: relative;

      .nf-field-label {
        display: block;
        line-height: 32px;
        padding-left: 48px;
        width: 100%;

        label {
          font-weight: normal;
          position: relative;

          &.nf-checked-label:after {
            opacity: 1;
          }

          &:before {
            border: 1px solid $primary;
            content: '';
            height: 32px;
            left: -48px;
            position: absolute;
            top: 0;
            width: 32px;
          }

          &:after {
            color: $primary;
            content: '\f00c';
            font-family: 'Font Awesome 5 Pro';
            left: -40px;
            opacity: 0;
            position: absolute;
            transition: $transition-base;
          }
        }
      }

      .nf-field-element {
        display: none;
      }
    }

    .textarea-container {
      margin-bottom: 0;

      @include md {
        margin-bottom: 16px;
      }
    }

    .submit-container {
      margin-bottom: 0;
      text-align: right;

      input {
        background-color: $primary;
        border-radius: 100vh;
        color: color-yiq($primary);
        display: inline-block;
        height: auto;
        max-width: 100%;
        min-width: 128px;
        padding: 16px;
        text-align: center;
        transition: $transition;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: $primary;
          box-shadow: 0px 0px 0px 4px rgba($primary, .5);
          color: color-yiq($primary);
        }
      }
    }

    @include lg {
      display: flex;

      nf-field {
        flex: 100%;
  
        &:nth-child(-n+4) {
          flex: 50%;

          &:nth-child(odd) {
            padding-right: 12px;
          }
  
          &:nth-child(even) {
            padding-left: 12px;
          }
        }
      }
    }
  }
}

.slick-slider {
  position: relative;

  .slick-arrow {
    position: relative;

    &:focus {
      outline: none;
    }
  }

  .slick-dots {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    position: relative;

    li {
      height: 12px;
      line-height: 0;
      margin-right: 8px;

      &.slick-active button {
        opacity: 1;
      }

      button {
        background-color: $primary;
        border: 0;
        border-radius: 100%;
        cursor: pointer;
        font-size: 0;
        height: 12px;
        opacity: .5;
        padding: 0;
        transition: $transition-base;
        width: 12px;

        &:hover {
          opacity: 1;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }

  .slick-list,
  .slick-slide,
  .slick-track {
    backface-visibility: hidden;
  }
}

.pagination {
  display: flex;
  flex-direction: row;

  span, a {
    align-items: center;
    color: $primary;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 32px;
    margin-left: 8px;
    transition: $transition;
  }

  a {
    opacity: .5;

    &:hover {
      color: $primary;
      opacity: 1;
    }
  }
}

@each $label, $color in $theme-colors {
  .btn-#{$label} {
    background-color: $color;
    border: 2px solid $color;
    border-radius: 0;
    color: color-yiq($color);
    font-weight: bold;
    text-align: center;
    transition: $transition;
    padding: 8px 25px;
    
  }

  a:hover .btn-#{$label},
  .btn-#{$label}:hover {
    background-color: color-yiq($color);
    color: $color;
  }

  .btn-underline-#{$label} {
    color: $color;
    position: relative;
    transition: $transition;

    &.active:before {
      bottom: 0;
      opacity: 1;
    }

    &:before {
      background-color: $color;
      bottom: -4px;
      content: '';
      height: 1px;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      transition: $transition;
      width: 100%;
    }
  }

  a:hover .btn-underline-#{$label},
  .btn-underline-#{$label}:hover {
    color: $color;

    &:before {
      bottom: 0;
      opacity: 1;
    }
  }
}

.mob-logo {
  display: none;
}

.btn-primary {
  
  color: #fff !important;
  
  &:hover {
    background: $secondary !important;
    border-color: $secondary !important;
  }
}

.btn-secondary {
  border-color: $primary !important;
  color: $primary !important;
  background: transparent !important;
  
  &:hover {
    background: $primary !important;
    color: #fff !important;
  }
}

.btn-white {
  border-color: #fff !important;
  color: #fff !important;
  background: transparent !important;
  
  &:hover {
    background: #fff !important;
    color: $primary !important;
    border-color: #fff !important;
  }
}

#header {
  border-bottom: 0px solid rgba($primary, .25);
  position: fixed;
  width: 100%;
  top: 0;
  transition: $transition;
  z-index: 9;
  background: transparent !important;
  padding: 40px 0px 20px;
  
  .social-icons {
    display: inline-block;
    margin-right: 25px;
    
    a {
      display: inline-block;
      color: #fff;
      font-size: 1.2rem;
      padding: 0.5rem 0rem;
      margin: 0 0.8rem;
      position: relative;
      
      &:before {
        content: '';
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        background: #fff;
        height: 2px;
        width: 0;
        transition: .3s;
      }
      
      &:hover:before {
        opacity: 1;
        width: 100%;
      }
      
      
    }
  }
  
  
  .nav a {
    color: #fff !important;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
    padding: 0.5rem 0rem;
    margin: 0 0.8rem;
    
    &:before {
      content: '';
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      background: #fff;
      height: 2px;
      width: 0;
      transition: .3s;
    }
    
    &:hover:before {
      opacity: 1;
      width: 100%;
    }
  }
  
  &.stick {
    background: #fff !important;
    padding: 20px 0px;
    
    
    .logo img {
      opacity: 0;
      
      &.fixed-logo {
        opacity: 1;
      }
    }
    
    a {
      color: $text-primary !important;
      
      &:before { 
        background: #000;
      }
    }
  }

  .logo img {
    height: auto;
    width: 303px;
    transition: .3s;
    
    &.fixed-logo {
      position: absolute;
      left: 0px;
      left: 16px;
      height: 30px;
      width: auto;
      opacity: 0;
    }
  
    @include lg {
      width: 303px;
    }
  }

  #burger {
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 10;
    height: 30px;
    top: 6px;
    
    &:focus {
      outline: none;
    }
  
    span:not(.burger) {
      color: $primary;
    }
  
    .burger {
      background-color: #fff;
      height: 2px;
      margin-left: 16px;
      position: relative;
      transition: $transition;
      width: 51px;
  
      &:before, &:after {
        background-color: #fff;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        transition: $transition;
        width: 24px;

      }
      
      &:after {
        display: none;
      }
  
      &:before {
        height: 2px;
        left: 0;
        width: 51px;
        left: -15px;
        top: -15px;
      }
  
      &:after {
        top: 8px;
      }
    }
  
    &.open .burger:before,
    &.open .burger:after {
      left: 0px;
    }
  }

  #navigation-mobile ul {
    align-items: center;
    background-color: $primary;
    flex-direction: column;
    height: 0;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: $transition;
    width: 100%;
    z-index: 9;
  
    &.open {
      height: 100vh;
      pointer-events: all;
  
      li {
        opacity: 1;
        transition: all .25s ease .35s;
      }
    }
  
    li {
      opacity: 0;
    }
  }
}


@include edge {
  .nf-form-cont {
    width: 100%;

    nf-fields-wrap nf-field {
      flex: none !important;
      padding: 0 !important;
      width: 100% !important;
    }
  }
}

@include ie {
  .nf-form-cont {
    width: 100%;

    nf-fields-wrap nf-field {
      flex: none !important;
      padding: 0 !important;
      width: 100% !important;
    }
  }

  select::-ms-expand {
    display: none;
  }
}

.italic {
  font-style: italic;
}

.topgap {
  height: 0px;
}

.hero {
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  z-index: 1;
  padding-top: 200px !important;
  
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
    left: 0px;
    top: 0px;
  }
  
  p {
    color: #fff;
  }
  
  a {
    margin-top: 15px;
  }
  
  h1 {
    font-size: 2.8rem;
    color: #fff;
  }
}

.fade-wrap {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

.left-line {
  position: relative;
  
  &:before {
    content: '';
    width: 0px;
    left: calc(((100vw - 1380px)/ 2) - ((100vw - 1350px)));
    height: 1px;
    background: #fff;
    position: absolute;
    top: 10px;
    transition: 1.5s;
    
  }
  
  &.aos-animate:before {
    width: calc((100vw - 1380px) / 2);
  }
}

.book-section {
  .grey {
    color: #b2b2b2 !important;
  }
  
  .available {
    a {
      display: inline-block;
      max-width: 110px;
      img {
        max-width: 100%;
      }
    }
    
  }
  
  .book-bg-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 4;
  }
  
  .book-bg {
    width: 100%;
    position: relative;
    z-index: 3;
    height: 100%;
    background-size: cover !important;
    background-position: center center !important;
    transform: scale(1.35);
    max-width: 70%;
    margin: auto;
    margin-left: 0px;
    
    
  }
  
  .book-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $primary;
    left: -20px;
    bottom: -30px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center center !important;
    transform: scale(1.35);
    max-width: 70%;
    margin: auto;
    margin-left: 0px;
    
    &:after {
      content: '';
      top: 70px;
      width: 100px;
      right: -70px;
      background: $primary;
      height: 1px;
      position: absolute;
      z-index: 1;
    }
    
  }
}

.book-hero {
  
  padding-bottom: 240px !important;
  
  .book-bg-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 4;
    top: 50px;
  }
  
  .book-bg {
    width: 100%;
    position: relative;
    z-index: 3;
    height: 100%;
    background-size: cover !important;
    background-position: center center !important;
    transform: scale(1.35);
    max-width: 70%;
    margin: auto;
    margin-right: 0px;
  }
  
  .book-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $primary;
    right: -20px;
    bottom: -30px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center center !important;
    transform: scale(1.35);
    max-width: 70%;
    margin: auto;
    margin-right: 0px;
    
    &:after {
      display: none;
    }
    
  }
}


.test-section {
  .grey-bg {
    .book-shadow {
      background: #4c4c4c !important;
    }
    
    top:0px;
  }
  
  .book-bg, .book-shadow {
    transform: scale(1) !important;
  }
}

.abt-section {
  .grey {
    color: #b2b2b2 !important;
  }
  
  .available {
    a {
      display: inline-block;
      max-width: 110px;
      img {
        max-width: 100%;
      }
    }
    
  }
  
  .book-bg-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 4;
    top: -80px;
  }
  
  .book-bg {
    width: 100%;
    position: relative;
    z-index: 3;
    height: 100%;
    background-size: cover !important;
    background-position: center center !important;
    transform: scale(1.1);
    max-width: 85%;
    margin: auto;
    margin-left: 0px;
    
    
    
  }
  
  .book-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $primary;
    left: -20px;
    bottom: -30px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center center !important;
    transform: scale(1.1);
    max-width: 85%;
    margin: auto;
    margin-left: 0px;
    
    &:after {
      content: '';
      top: 70px;
      width: 100px;
      right: -70px;
      background: $primary;
      height: 1px;
      position: absolute;
      z-index: 1;
    }
    
  }
}

.contact-section {
  .grey {
    color: #b2b2b2 !important;
  }
  
  background: #f0f0f0;
  
  .available {
    a {
      display: inline-block;
      max-width: 110px;
      img {
        max-width: 100%;
      }
    }
    
  }
  
  .book-bg-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 4;
  }
  
  .book-bg {
    width: 100%;
    position: relative;
    z-index: 3;
    height: 100%;
    background-size: cover !important;
    background-position: center center !important;
    transform: scale(1.35);
    max-width: 70%;
    margin: auto;
    margin-right: 0px;
    
    
  }
  
  .book-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $primary;
    right: -20px;
    bottom: -30px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center center !important;
    transform: scale(1.35);
    max-width: 70%;
    margin: auto;
    margin-right: 0px;
    
    &:after {
      content: '';
      top: 48px;
      width: 500px;
      left: -470px;
      background: $primary;
      height: 1px;
      position: absolute;
      z-index: 1;
    }
    
  }
  
  .nf-form-wrap nf-fields-wrap .nf-field-container input:not([type=button]), .nf-form-wrap nf-fields-wrap .nf-field-container textarea {
    background: #fff !important;
    box-shadow: none !important;
    border: 2px solid #b1b1b1 !important;
  }
  
  .nf-form-wrap nf-fields-wrap nf-field:nth-child(-n+4):nth-child(3) {
    flex: 100%;
    max-width: 100%;
    padding: 0px;
  }
  
  .nf-form-wrap .nf-error-msg {
    padding: 15px;
    border: 2px solid $secondary;
    margin-top: 20px;
    color: $secondary;
  }
  
  .nf-form-wrap nf-fields-wrap .submit-container input {
    border-radius: 0px;
    color: #fff !important;
    cursor: pointer !important;
    box-shadow: none;
    padding: 8px 25px !important;
    font-weight: bold !important;
    
    &:hover {
      background: $secondary;
    }
  }
  
}

.page-template-page-contact {
  
  .nf-form-wrap nf-fields-wrap .nf-field-container input:not([type=button]), .nf-form-wrap nf-fields-wrap .nf-field-container textarea {
    background: #fff !important;
    box-shadow: none !important;
    border: 2px solid #4bb5c2 !important;
  }
  
  .nf-form-wrap nf-fields-wrap nf-field:nth-child(-n+4):nth-child(4), .nf-form-wrap nf-fields-wrap nf-field:nth-child(-n+4):nth-child(3) {
    flex: 100%;
    max-width: 100%;
    padding: 0px !important;
    padding-left: 0px !important;
  }
  
  .nf-form-wrap .nf-error-msg {
    padding: 15px;
    border: 2px solid $secondary;
    margin-top: 20px;
    color: $secondary;
  }
  
  .nf-form-wrap nf-fields-wrap .submit-container input {
    border-radius: 0px;
    color: #fff !important;
    cursor: pointer !important;
    box-shadow: none;
    padding: 8px 25px !important;
    font-weight: bold !important;
    border-color: $primary;
    
    &:hover {
      background: $secondary;
      border-color: $secondary;
    }
  }
}

.contact-content {
  p, span {
    font-weight: 700 !important;
    font-size: 20px;
    color: #fff !important;
  }
}

.podcast-section {
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  z-index: 1;
  
  .sig {
    max-width: 180px;
  }
  
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, rgba(28,28,28,0.7), rgba(0,0,0,0));
    top: 0px;
    left: 0px;
  }
}

.podcast-section {
  color: #fff;
  
  h2, h3, p {
    color: #fff;
  }
  
  .pod-links {
    a {
      display: inline-block;
      margin-right: 15px;
      
      
      &:hover {
        transform: scale(1.05);
      }
      
      img {
        max-width: 60px;
        transition: .3s;
      }
    }
  }
}

.journey-slider {
  .slide {
    text-align: center;
    p {
      font-size: 20px;
      
      &.title {
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  }
}

.record-section, .timeline-sect {
  
  .prev, .next {
    display: inline-block;
    margin: 0px 15px 25px;
    
    img {
      max-width: 38px !important;
    }
  }
}


.timeline-section {
  padding-top: 20px !important;
  
  .slick-slide {
    transition: .3s;
    opacity: 0.5;
    
    &.slick-current {
      opacity: 1;
    }
  
    
    .content {
      
    height: 310px;
    
    background: #4bb5c2 !important;
    padding: 25px 15px;
    margin: 0px 20px;
    
    p.title {
      color: #93d2da !important;
      font-size: 60px;
      font-weight: 700;
      line-height: 1em;
    }
    
    p {
      font-weight: 700;
      color: #fff;
      font-size: 22px;
    }
    
    }
  } 
  
}

footer .footer-menu ul {
  display: block !important;
}



.press-section {
  
  .press-slider {
    margin: 0px -15px;
    margin-right: 0px;
  }
  
  .prevv, .nextt {
    display: inline-block;
    margin: 0px 15px 25px;
    
    img {
      max-width: 38px !important;
    }
  }
  
  .slick-current {
    img {
    }
  }
  
  .slide {
    img {
      max-width: 100%;
      padding: 0px 15px;  
    }
    
  }
}


.press-slider {
  .slide {
    text-align: center;
    p {
      font-size: 20px;
      
      &.title {
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  }
}

footer {
  padding: 120px 0px 20px;
  background: #333333;
  
  .footer-logo {
    position: relative;
    
    img {
      max-width: 114px;
    }
    
    &:before {
      content: '';
      width: calc(100% - 114px);
      height: 1px;
      display: block;
      background: #ffffff !important;
      top: 50%;
      right: -25px;
      position: absolute;
    }
  }
  
  .footer-menu {
    ul {
      margin: 0px;
      padding: 0px;
      text-align: right;
      margin-top: 18px;
      
      li {
        display: inline-block;
        
        &:last-child {
          a {
            padding-right: 0px;
          }
        }
        
        a {
          display: block;
          color: #fff;
          font-weight: 700;
          font-size: 20px;
          padding: 0px 15px;
        }
      }
    }
  }
  
  .text-right {
    display: block;
    width: 100%;
    
    a {
      color: #fff;
      font-size: 10px;
      font-weight: 700;
    }
  }
  
}

.grey-hero {
  background: #202020;
  color: #fff;
  
  .quote {
    
    h2 {    
      font-size: 50px;
      font-weight: 700;
      color: #c0c0c0 !important;
      position: relative;
      padding-left: 90px;
      
      &:before {
        content: '';
        width: 60px;
        height: 60px;
        background: url('/img/quote.png');
        background-size: contain !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        position: absolute;
        left: 0px;
        top: 0px;
      }
    }
  }
  
  .scrolllink {
    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: $primary;
    text-align: center;
    display: inline-block;
    
    img {
      display: block;
      width: 22px;
      transform: rotate(90deg);
      margin: auto;
      transition: .3s;
      position: relative;
      top: 15px;
    }
    
    &:hover {
      img {
        top: 20px;
      }
    }
    
    
  }
  
  &:before {
    display: none;
  }
  
  h1, p, li, h2 {
    color: #fff;
  }
}

.book-hero {
  .available {
    img {
      max-width: 80px;
      filter: brightness(0) invert(1);
    }
  }
}

.embed-wrap {
  margin: 20px 0px;
}

.episodes {
  padding-bottom: 80px !important;
}

.pod-hero {
  
  
  .hero-pod {
    float: right;
  }
  padding-bottom: 0px !important;
  
  .pod-links {
    a {
      display: inline-block !important;
      img {
        max-width: 60px;
        margin-right: 20px;
      }
    }
  }
  
  img.sig {
    max-width: 176px;
  }
}

@media screen and (max-width: 1440px) {
  .left-line:before {
    display: none;
  }
  
  footer .footer-menu ul li a {
    padding: 0px 8px;
  }
  
  .grey-hero .quote h2 {
    font-size: 42px;
  }
  
  .contact-section .book-shadow:after {
    display: none;
  }
}

.nf-form-title {
  display: none !important;
}

@media screen and (max-width: 1199px) {
  h2, .h2 {
    font-size: 2rem;
  }
  
  footer .footer-menu ul li a {
    font-size: 16px;
  }
  
  .book-section .book-bg {
    transform: scale(1);
    max-width: 100%;
  }
  
  .book-section .book-shadow {
    max-width: 100%;
    transform: scale(1);
  }
  
  .book-bg-wrap {
    left: -50px;
  }
  
  .contact-section .book-shadow:after {
    display: none;
  }
  
  .contact-section .book-bg-wrap {
    left: 30px;
  }
  
  .grey-hero .quote h2 {
    font-size:36px;
  }
  
  .book-hero .book-bg, .book-hero .book-shadow, .book-hero .fade-wrap {
    height: 400px;
  }
  
  .book-hero {
    padding-bottom: 100px !important;
  }
  
  .hero-pod {
    float: none;
  }
}

@media screen and (max-width: 991px) {
  .social-icons {
    display: none !important;
  }
  
  .hero-pod {
    display: none;
  }
  
  .pod-hero {
    padding-bottom: 60px !important;
  }
  
  body {
    overflow-x: hidden !important;
  }
  
  .quote {
    margin-top: -40px;
  }
  
  .grey-hero .scrolllink {
    position: relative;
    top: 120px;
  }
  
  .grey-hero {
    padding-top: 140px !important;
  }
  
  #header {
    
    padding: 20px 0 20px;
    
    
    .logo {
      height: 45px;
      position: relative;
      z-index: 10;
    }
      
    .logo img {
      display: none;
      
      &.mob-logo, &.fixed-logo {
        height: 45px;
        width: auto;
        display: block !important;
        position: absolute;
        left: 0px;
      }
    }
    
    &.stick {
      #burger .burger, #burger .burger:before {
        background: $primary;
      }
    }
    
    #navigation-mobile ul {
      background: #333333 !important;
      
      li:first-child {
        margin-top: -100px;
      }
      
      li:last-child a {
        border-bottom: none !important;
      }
      
      li a {
        color: #fff !important;
        font-size: 2rem !important;
        border-bottom: 2px solid #364446 !important;
        max-width: 60%;
        
        &:before {
          display: none !important;
        }
      }
      
      li {
        display: block;
        width: 100%;
        padding-left: 25%;
      }
    }
  
  }
  
  .hero h1 {
    font-size: 2.2rem;
  }
  
  .book-section .book-bg, .book-section .book-shadow, .fade-wrap {
    height: 400px;
  }
  
  #header {
    right: 0px !important;
  }
  
  #header.stick {
    width: 105px;
    transition: .1s !important;
    
    background: #176771 !important;
    
    #burger .burger, #burger .burger:before {
      background: #fff !important;
    }
    
    .logo {
      opacity: 0;
      
      z-index: -1;
    } 
  }
  
  .contact-section .book-bg, .contact-section .book-shadow, .fade-wrap {
    height: 550px !important;
  }
  
  .book-hero .book-bg, .book-hero .book-shadow, .book-hero .fade-wrap {
    height: 400px;
    transform: scale(1) !important;
    width: 100%;
    max-width: 100%;
    display: none;
  }
  
  .book-hero {
    padding-bottom: 100px !important;
  }
  
  .book-hero .available {
    text-align: left !important;
  }
  
  .test-section .book-bg-wrap {
    margin-top: 20px;
  }

}


@media screen and (max-width: 767px) {
  h1, .h1 {
    font-size: 1.75rem;
  }
  h2, .h2 {
    font-size: 1.5rem;
  }
  h3, .h3 {
    font-size: 1.3rem;
  }
  h4, .h4 {
    font-size: 1.2rem;
  }
  h5, .h5 {
    font-size: 1.1rem;
  }
  h6, .h6 {
    font-size: 1rem;
  }
  
  .hero h1 {
    font-size: 1.7rem;
  }
  

  
  .book-section .book-shadow:after {
    display: none !important;
  }
  
  .book-content {
    text-align: center;
  }
  
  .available {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .book-bg-wrap {
    left: 0px;
    top: 100px;
    margin-top: -100px;
  }
  
  .book-section .book-bg, .book-section .book-shadow, .fade-wrap {
    height: 600px;
  }
  
  .pod-img {
    display: none;
  }
  
  .podcast-section {
    padding-bottom: 50px !important;
    text-align: center;
  }
  
  .contact-section .book-bg, .contact-section .book-shadow, .fade-wrap {
    display: none !important;
  } 
  
  .contact-section p.italic {
    margin-bottom: 10px;
    position: relative;
    
    &:before {
      content: '';
      position:absolute;
      width: 110%;
      top: 10px;
      height: 1px;
      background: $primary;
      right: -30%;
    }
  }
  
  .contact-section .book-content {
    text-align: left;
  }
  
  footer .footer-logo:before {
    display: none;
  }
  
  footer {
    padding: 50px 0px;
  }
  
  .footer-menu {
    text-align: center !important;
    
    ul {
      text-align: center !important;
      
      li {
        display: block;
        width: 100%;
        
        a {
          padding: 10px 15px !important;
        }
      }
    }
  }
  
  .text-right {
    text-align: center !important;
    margin-top: 20px;
  }
  
  .contact-section p.italic:before {
    width: 90%;
    right: -20%;
    overflow: hidden;
  }
  
  footer .footer-logo {
    text-align: center;
  }
  
  .grey-hero .quote h2 {
    font-size: 26px;
  }
  .grey-hero .scrolllink {
    top: 85px;
  }
  
  .abt-section .book-bg-wrap {
    top: 0px;
    margin-top: 20px;
  }
  
  #sect1.abt-section {
    padding-bottom: 20px !important;
  }
  
  .timeline-section .slick-slide .content p {
    font-size: 18px;
  }
  
  .pod-hero .hero-line p {
    display: block !important;
  }
  
}

@media screen and (max-width: 600px) { 
  #header #navigation-mobile ul li {
    padding-left: 10%;
  }
  
  .hero h1 {
    font-size: 1.5rem;
  }
  
  .hero {
    padding-top: 120px !important;
    padding-bottom: 60px !important;
  }
  
  .hero .hero-line p {
    display: none !important;
  }
  
  #header #navigation-mobile ul li a {
    max-width: 70%;
  }
  
  .book-section .book-bg-wrap {
    max-width: 70%;
    margin: auto;
    margin-top: -100px;
  }
  
  .press-section {
    .pb-12 {
      padding-bottom: 20px !important;
    }
    
    .mt-12 {
      margin-top: 20px !important;
    }
    
    padding-top: 30px !important;
    padding-bottom: 20px !important;
  }
  
  .book-section .book-bg, .book-section .book-shadow, .fade-wrap {
    height: 350px;
  }
  
  .grey-hero .quote h2 {
    font-size: 18px;
  }
  
  .grey-hero .scrolllink {
    display: none !important;
  }
  
  .quote {
    margin-top: 0px;
    margin-bottom: 0px !important;
  }
  
  .grey-hero {
    padding-bottom: 40px !important;
  }
  
  .pod-hero .hero-line p {
    display: block !important;
  }
  
  .test-section .book-bg-wrap, .abt-section .book-bg-wrap {
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) { 
  #header #navigation-mobile ul li a {
    font-size: 1.5rem !important;
  }
}

